<div class="image-container">
    <h1>Blogs</h1>
    <br>
   <p>Read Our News and Articles</p>
   <br>
    
  </div>
  <section>
    <div class="imgtext">
      <a href="image-details.html?image=ev-charging-1">
  <img src="../../assets/blog2.jpg"  alt="Charging Station 2" class="charging-image" />
  </a>
   <p class="image-description">How to Supercharge EV Charger Uptime:3 Pro-Level Stategies</p>
  </div>
 
  <div class="imgtext">
    <a href="image-details.html?image=ev-charging-2">
  <img src="../../assets/blog1.jpg" class="charging-image"/>
    </a>
  <p class="image-description">Electrify Your EV Journey with the Ultimate Offer On the <br>ChargeMOD EV Chargers</p>
</div>


   
  </section>
   